/* header */

.cart {
  margin: 1em;
}

.cart .navbarCart {
  padding-bottom: 16px;
  background-color: #fff;
  border-bottom: 1px solid var(--color-gris-claro);
}

/* titulo */

.cart .totalBuy {
  font-family: "Raleway";
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.cart .totalBuy h1 p {
  flex-direction: row;
  font-size: 16px;
}

.cart .cantidad {
  color: var(--color-primario);
}

/* compras */

.cart .productBuy {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  margin: 10px;
  height: 134px;
}

.cart .imgproductBuy {
  display: flex;
  height: 134px;
  width: 112px;
}

.cart .detailBuy {
  min-width: 176px;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: lighter;
  margin-top: 0;
}

.cart .detail_titleBuy {
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.cart .descriptionBuy {
  color: rgba(0, 0, 0, .6);
  font-family: "Roboto";
  font-size: 12px;
  font-weight: lighter;
  margin-top: 5px;
}

.cart .quantifyBuy {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: lighter;
  text-align: right;
  margin-top: 35px;
  margin-right: 35px;
}

/* iconos + y - */

.cart .addBuy{
  display: flex;
}

.cart .addBuy .fa-minus {
    font-weight: 14px;
    width: 23px;
    height: 23px;
    padding: 3px;
    color: var(--color-rojo);
    border-radius: 40px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  }
  
  .cart .addBuy .fa-plus {
    font-weight: 14px;
    width: 23px;
    height: 23px;
    color: var(--color-verde);
    border-radius: 40px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    margin-left: 26px;
  }

  /* boton precio */
  
  .cart .button_precioBuy {
    border-radius: 50%;
    width: 80px;
    height: 23px;
    padding: 5px;
    background-color: var(--color-primario);
    color: #fff;
    text-align: center;
    font-size: 10px;
    margin-left: 40px;
    margin-right: 35px;
  }

  .cart .button_precioBuy p {
   font-size: 10px;
   margin: 0;
  }