.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--color-primario);
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.button.button-cat{
    height: 3rem;
    width: 3rem;
}

.button>img{
    width: 2rem;
}

.button:hover{
    color: #fff;
    background-color: var(--color-primario);
}

.button:hover>img{
    filter: brightness(10);
    -webkit-filter: brightness(10);
}

