<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/76d25d6fff.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>

<body>
    <div class="login">
        <div class="container f-main-center">
            <div class="header__logo__name mb-10">
                <img src="/images/logo/logo.svg" alt="">
            </div>
        </div>
        <div class="container">
            <div class="login__form mb-12 f-main-y">
                <div class="login__form__icon">
                    <input type="text" placeholder="Escriba su usuario" class="reg__input">
                </div>
                <div class="login__form__key__eye">
                    <input type="text" placeholder="Escriba su contraseña" class="reg_input">
                    <button class="eye__button"><i class="fas fa-eye"></i></button>
                </div>
                <button type="submit" class="ingresar">INGRESAR</button>
                <div class="options mb-12 f-main-between">
                    <div class="options__sesion">
                        <input type="checkbox">
                        <div class="option__sesion__maintain"></div>
                        <p class="option__sesion__maintain__text">Mantener Sesión</p>
                    </div>
                    <div class="options__forgot">
                        <a href="" class="forgot">Olvide mi contraseña</a>
                    </div>
                </div>

            </div>

            

        </div>
        <nav class="end only-mb">
            <div class="end__button button">
                <a href="/register"><i class="fas fa-plus"></i></a>
            </div>
            <div class="end__button button">
                <a href="/"><i class="fas fa-undo"></i></a>
            </div>
        </nav>
    </div>
    </div>
</body>

</html>