<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Products</title>
      <!-- FONTAWESOME -->
      <link rel="stylesheet" href="/css/styles.css" />
      <script src="https://kit.fontawesome.com/9a95f588d1.js" crossorigin="anonymous"></script>
   </head>

   <body class="products">
      <header class="headerproducts">
         <nav class="navbarproducts">
            <!-- Logo -->
            <div class="navbar__logo">
               <a href="/"><img src="images/logo/ukunta-amarillo.svg" alt="logotipo" /></a>
            </div>
         </nav>
      </header>

      <main>
         <div class="container totalBuy">
            <p class="total_elementos">Bebidas</p>
            <p class="ventas">357 ventas</p>
         </div>

         <img src="/images/products/Bebidas/Cervezas/Ale-Porter-Negra.png" alt="" class="imagen_producto" />

         <div class="container nombre_valoracion">
            <p class="total_elementos">Hidromiel Cannábica</p>
            <p class="valoracion">4.8 <i class="fas fa-star estrella_amarilla"></i></p>
         </div>

         <div class="info_producto">
            <div class="container mb-12 info_producto">
               <p class="mb-6 info_titulo">Volumen: <span class="info_titulo_detalle">330ml</span></p>
               <div class="mb-6 info_titulo_precio">
                  <p>$9999.99</p>
               </div>
            </div>
            <div class="container mb-12">
               <p class="mb-8 info_titulo">Stock disponible: <span class="info_titulo_detalle">56u</span></p>
            </div>
            <div class="container mb-12">
               <p class="mb-6 info_titulo">Cantidad: <span class="info_titulo_detalle">2u</span></p>
               <div class="mb-6 botones_info_mas_menos">
                  <div class="buton_redondo rojo mr-1">
                     <i class="fas fa-minus"></i>
                  </div>
                  <div class="buton_redondo verde">
                     <i class="fas fa-plus"></i>
                  </div>
               </div>
            </div>
            <div class="container mb-12">
               <p class="mb-6 info_titulo">Medios de pago</p>
               <div class="media_flecha_abajo">
                  <i class="fas fa-chevron-down"></i>
               </div>
            </div>

            <div class="footer__item footer__medios">
               <img src="/images/medio-1.jpg" alt="Rapipago" />
               <img src="/images/medio-2.jpg" alt="Pago Facil" />
               <img src="/images/medio-3.jpg" alt="Masterd Card" />
               <img src="/images/medio-4.jpg" alt="Visa dto" />
            </div>

            <div class="container mb-12">
               <p class="info_titulo">Envío a domicilio:</p>
               <p class="detalle_envio">Llega a tu casa entre los próximos 2 días hábiles por correo Argentino</p>
            </div>

            <p class="nuevo_domicilio">Elegir un nuevo domicilio</p>
            <p class="detalle_envio">Hidromiel dulce elaborada con cañamo no psicoactivo de cultivo acológico y terpenos cannábicos</p>
         </div>

         <div class="productos_relacionados">
            <p class="total_elementos">Productos relacionados</p>

            <article class="mb-12 tb-6 lp-4 container producto">
                <div class="button--stock">
                   <i class="fas fa-check boton_check"></i>
                </div>
                <div class="mb-5 producto__imagen">
                   
                   <img src="/test.png" alt="ipa brown" />
                </div>
                <div class="mb-7 producto__detalle">
                   <div class="titulo-desc">
                      <h4 class="detail_titleBuy">ipa brown</h4>
                      <p class="descriptionBuy">Con maltas de chocolate y caramelo, lo que le da su caracteristico color café.</p>
                   </div>
    
                   <div class="f-display f-main-between mas_menos_precio">
                      <div class="f-display">
                         <div class="buton_redondo ver_mas mr-1">
                            <i class="fas fa-external-link-alt"></i>
                         </div>
                      </div>
                      <div class="buton_redondo amarillo mr-1">
                         <div class="precio_store">
                            <p>$9.999</p>
                         </div>
                         <div class="buton_redondo_suma">
                            <i class="fas fa-plus"></i>
                         </div>
                      </div>
                   </div>
                </div>
             </article>
         </div>
         
         <div class="f-display f-main-between">
            <div class="f-display icono_flecha">
                <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="f-display icono_card">
                <i class="fas fa-undo-alt"></i>
            </div>
          </div>
      </main>
   </body>
</html>
