<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/76d25d6fff.js" crossorigin="anonymous"></script>
    <title>Register</title>
</head>
<body>
    <header class="header">
        <nav>
            <div>
                <img class="logo" src="/images/logo/ukunta.svg" alt="" srcset="">
            </div>
        </nav>
    </header>
    <main>
        <nav>
            <ul>
                
            </ul>
        </nav>
    </main>
</body>
</html>