<header class="header">
    <nav class="navbar">
      
        <!-- Logo -->
        <div class="navbar__logo">
            <img src="images/logo/ukunta.svg" alt="logotipo">
        </div>

        <!-- Search -->
        <div class="navbar__search only-desktop">
            <input type="search" name="search" id="input-search">
            <button><i class="fas fa-arrow-right"></i></button>
        </div>

        <!-- Navegacion -->
        <div class="navbar__menu">
            <ul class="only-desktop">
                <li><a href="#">INICIO</i></a></li>
                <li><a href="#">NOSOTROS</i></a></li>
                <li><a href="#">TIENDA</i></a></li>
                <li><a href="#">CONTACTO</i></a></li>
                <li><a href="#">CARRITO</a></li>
            </ul>
            <i class="fas fa-shopping-cart only-desktop"></i>
            <i class="fas fa-user"></i>

            <!-- boton del menu desplegable para cerrar -->
            <button class="navbar__back no-desktop">
                <i class="fas fa-arrow-down"></i>
            </button>

        </div>
    </nav>

    <div class="header__carrousel">
        <img src="/images/headerMain-1.jpg" alt="header-1">
    </div>
</header>