<!DOCTYPE html>
<html lang="es">

    <%- include('partials/head')  %> 

<body class="register f-display f-main-y minvh-100">
    <%- include('partials/mini-header')  %> 
   
    <div class="container f-main-center f-grow-1">
        <div class="mb-12 lp-6 f-main-y f-cross-center">

            <h3 class="f-self-start my-4">Añadir producto</h3>

            <form class="w-100 mbt-4" action="/store/" method="POST">

                <!-- Nombre -->
                <div class="reg__ctrl-input mbt-4">
                    <input type="text" placeholder="*Nombre" name="name" class="reg__input">
                </div>  

                <!-- stock -->
                <!-- <div class="reg__ctrl-input my-4">
                    <input type="number" placeholder="stock" class="reg__input" name="stock">
                </div> -->

                <!-- Categoria -->
                <div class="reg__ctrl-input my-4">
                    <select name="category" class="reg__input">
                        <option value="none" selected>*Categoria</option>
                        <option value="cerveza" >Cerveza</option>
                        <option value="hidromiel">Hidromiel</option>
                        <option value="merchandising">Merchandasing</option>
                    </select>
                </div>             

                <!-- Descripcion domicilio -->
                <div class="reg__ctrl-textarea my-4">
                    <textarea name="description" class="text__area" placeholder="*Descripción del producto"></textarea>
                </div>

                <!-- precio -->
                <div class="reg__ctrl-input my-4">
                    <input type="number" placeholder="*precio" class="reg__input" name="price">
                </div>
                <!-- Imagenes -->
                <div class="reg__ctrl-input mbt-4">
                    <input type="file" accept=".jpg, .png" name="image" max="5" maxfile="5" class="reg__input file__input" multiple>
                </div>


                <div class="f-display f-main-between reg__navbottom f-cross-end mbt-5">
                    <a href="/store" class="no-decor">
                        <div class="button button-rojo reg__navbutton">
                            <i class="fas fa-times"></i>
                        </div>
                    </a> 
                    <button type="submit" class="button button-verde reg__navbutton"><i class="fas fa-check"></i></button>

                </div>
            </form>


        </div>

    </div>
    
</body>

</html>