<!DOCTYPE html>
<html lang="es">
   <%- include('./partials/head.ejs') %>
   <body class="bg-dark of-hidden">
      <div class="f-display f-main-y f-center mh-100vh">
         <h1 class="c-white"><%= title %></h1>
         <h2 class="c-white"><%= description %></h2>
         <pre>
      <code class="c-green"><%= error.stack %> </code>
    </pre>
      </div>
   </body>
</html>
