<%- include('partials/head.ejs') %>
  <body class="bg-dark of-hidden">
    <div class="f-display f-main-y f-center mh-100vh">
      <h1 class="c-white"><%= title %></h1>
      <div class="w-25">
        <img src="/images/favicon.png" alt="cof">
      </div>
      <h2 class="c-white">Generador desarrollado por <a href="https://github.com/Danicof123/cof-generator" target="_blank">Danicof</a></h2>
    </div>
  </body>
</html>