<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>
<body class="home">
  <header class="header">
    <%- include('partials/navbar-top.ejs') %>
  </header>
  <!-- Barra de navegación inferior -->
  <%- include('partials/navbar-bottom.ejs') %>
  <main class="container">
    <div class="mb-12">
        <div class="image__profile">
            <img src="/images/users/default.png" alt="user">
        </div>
    </div>
  </main>
  <%- include('partials/scripts.ejs') %>
</body>
</html>