<div class="carrito">
  <%- include('./mini-header') %>
  <div class="w-100 f-display f-main-between f-cross-center px-4">
    <h3 class="title__carrito">TOTAL DE ELEMENTOS</h3>
    <span class="length__carrito">3</span>
  </div>

  <nav class="carrito__navbottom px-4">
    <div class="w-100 f-display f-main-between f-cross-center">
      <h3 class="title__carrito">TOTAL A PAGAR</h3>
      <span class="price__carrito">$99999</span>
    </div>
    <div class="f-display f-main-between w-100 pbt-4">
       <div class="button icono_flecha carritoClose">
          <i class="fas fa-arrow-right"></i>
       </div>
       <a href="#">
       <div class="button icono_card">
          <i class="fas fa-credit-card"></i>
       </div>
       </a>
    </div>
 </nav>

</div>