.profile__image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile__avatar{
    width: 50%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 2px solid var(--color-primario);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}

.profile__name{
    font-size: 1.5rem;
    margin-bottom: 0;
}
.profile__level{
    margin-top: 0;
}

.profile__nav{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.profile__nav-row{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.profile__nav-row li{
    font-size: 48px;
    color: var(--color-gris);
    cursor: pointer;
}

.profile__nav-row li.active,
.profile__nav-row li:hover:not([disabled]){
    color: var(--color-primario);
}
.profile__nav-row li[disabled]{
    color: #ccc;
}
.profile__delete-profile{
    border-top: 1px solid var(--color-gris-claro);
    margin-top: 1.5rem;
    padding-top: .5rem;
    text-align: right;
}

.profile__delete-profile span{
    font-size: 12px;
    color: var(--color-rojo);
    cursor: pointer;    
}