.ctrl-checkbox{
    position: relative;
    font-size: 12px;
    color: var(--color-gris);
}

.checkbox{
    display: flex;
    cursor: pointer;
}

.checkbox a{
    margin-right: 4px;
    margin-left: 4px;
}

.checkbox::before{
    content: '';
    flex-shrink: 0;
    display: block;
    margin-right: .5rem;
    width: 16px;
    height: 16px;
    outline: 1px solid var(--color-primario);
}

.chk-keep:checked+.checkbox::before{
    background-color: var(--color-primario);
    border: 1px solid #fff;
}

/* Controladores del profile */
.controlador-input{
    display: flex;
    flex-direction: column;
}
.controlador-input label{
    font-size: 10px;
    color: var(--color-gris);
    margin-bottom: 2px;
}

.controlador-input label[data-required]::before{
    content: '* ';
    color: var(--color-rojo);
}